.timeline {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-left: 30%;
  }
  
  .timeline:last-child {
    margin-bottom: 0;
  }
  
  .logo {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin: 0;
  }
  
  .description {
    flex: 1;
  }
  
  .companyname {
    margin: 0 0 12px 0;
    padding: 0;
  }
  
  .excerpt {
    margin: 0;
    color: white;
  }